<configuration>

    <!-- Console output!-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <!-- Log Files !-->

    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> log/log-${myTimestamp}.txt </file>

        <append>true</append>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <!-- Disable  connection debug logs !-->
   <logger name="org.mongodb" level="INFO" />

    <!-- Ignore netty io read fails : https://youtrack.jetbrains.com/issue/KTOR-646 !-->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
        <evaluator>
            <expression>java.lang.RuntimeException.class.isInstance(throwable)</expression>
        </evaluator>
        <onMatch>DENY</onMatch>
    </filter>
</configuration>
